# Python bytecode
__pycache__/
*.pyc


# Virtual environment
venv/

# Build artifacts
*.egg-info/

# Pytest cache
.pytest_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Custom script and prediction files
run_notebook_cells.py
run_pipeline.py
test_input.csv
final_test_output.csv
my_predictions_fixed.csv
my_predictions.csv
test_input.csv
test_minimal_predictions.csv
test_minimal.csv
test_no_id.csv
test_predictions.csv

test_predictions2.csv
settings.local.json


__pycache__/__init__.cpython-314.pyc

