# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/

# Build artifacts
*.egg-info/

# Pytest cache
.pytest_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# Model artifacts
model/*.pkl

# OS files
.DS_Store
Thumbs.db